#pp-img{
    width: 20vw;
    border-radius: 30px;

}

.pg-header {
    background-color: #f39b9b;
    padding: 3em;
    color: #860505;
}

.my-info {
    text-align: center;
    background-color: gray;
    color: papayawhip;
    padding: 3em;
}

.contact-me {
    text-align: center;
    background-color: #f39b9b;
    color: #860505;
    padding: 3em;
}

.contact-image {
    width: 3vw;
    border-radius: 30px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

