{% load static %}
<body id="mar-body">
<div>
    <img src='{% static "/images/helloanucd 1.png" %}' id="hello-img">
</div>

<div class="row2">
    <div class="column2" id="n-font">
        <a href="#story">
            <p>My Story</p>
        </a>
    </div>
    <div class="column2" id="n-font">
        <a href="#edu">
            <p>Education</p>
        </a>
    </div>
    <div class="column2" id="n-font">
        <a href="#skills">
            <p>Skills</p>
        </a>
    </div>
    <div class="column2" id="n-font">
        <a href="/story3/quotes">
            <p>Quotes</p>
        </a>
    </div>
    <div class="column2" id="n-font">
        <a href="#cp">
            <p>Contact Me</p>
        </a>
    </div>
</div>
<div class="home-button">
    <a href="/">
        <button type="button" class="btn btn-primary"
                style="background-color: gray; border-color: white">
            HOMEPAGE
        </button>
    </a>
</div>
