{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <style>
        #mySidenav a {
            position: absolute;
            left: -80px;
            transition: 0.3s;
            padding: 15px;
            width: 100px;
            text-decoration: none;
            font-size: 19px;
            color: white;
            border-radius: 0 5px 5px 0;
        }


        #mySidenav a:hover {
            left: 0;
        }

        #container {
            position: center;
            height: 100vh;
            width: 100%;
        }

        #container img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100%;

        }

        @-webkit-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @-o-keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes imgFade {
            0% {
                opacity: 1;
            }
            17% {
                opacity: 1;
            }
            25% {
                opacity: 0;
            }
            92% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        #container img {
            -webkit-animation-name: imgFade;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 8s;

            -moz-animation-name: imgFade;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-iteration-count: infinite;
            -moz-animation-duration: 8s;

            -o-animation-name: imgFade;
            -o-animation-timing-function: ease-in-out;
            -o-animation-iteration-count: infinite;
            -o-animation-duration: 8s;

            animation-name: imgFade;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 8s;
        }

        #container img:nth-of-type(1) {
            -webkit-animation-delay: 6s;
            -moz-animation-delay: 6s;
            -o-animation-delay: 6s;
            animation-delay: 6s;
        }

        #container img:nth-of-type(2) {
            -webkit-animation-delay: 4s;
            -moz-animation-delay: 4s;
            -o-animation-delay: 4s;
            animation-delay: 4s;
        }

        #container img:nth-of-type(3) {
            -webkit-animation-delay: 2s;
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;
            animation-delay: 2s;
        }

        #container img:nth-of-type(4) {
            -webkit-animation-delay: 0;
            -moz-animation-delay: 0;
            -o-animation-delay: 0;
            animation-delay: 0;
        }

        #story1 {
            top: 140px;
            background-color: black;
        }

        #story2 {
            top: 200px;
            background-color: black;
        }

        #story3 {
            top: 260px;
            background-color: black;
        }

        #story4 {
            top: 320px;
            background-color: black;
        }

        #story5 {
            top: 380px;
            background-color: black;
        }

        #story6 {
            top: 440px;
            background-color: black;
        }

        #story7 {
            top: 500px;
            background-color: black;
        }

        #story8 {
            top: 560px;
            background-color: black;
        }

        #story9 {
            top: 620px;
            background-color: black;
        }

        #story10 {
            top: 680px;
            background-color: black;
        }

        .contain {
            position: relative;
            text-align: center;
            align-content: center;
            width: 100%;
            height: 100%;
            color: white;


        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 100px;

            transform: translate(-50%, 130%);
        }

        .paragraph {
            font-size: 20px;
            transform: translate(0%, 567%);
        }

        .dandt {
            font-size: 25px;
            transform: translate(0%,600%);
        }

    </style>
</head>
<body>
<div id="container">
    <img src='{% static "/images/MacBook Pro - 2.png" %}'/>
    <img src='{% static "/images/MacBook Pro - 1 (2).png" %}'/>
    <img src='{% static "/images/MacBook Pro - 4.png" %}'/>
    <img src='{% static "/images/MacBook Pro - 5.png" %}'/>
    {#    <img class="top" src='{% static "/images/MacBook Pro - 4.png" %}'/>#}

    <div id="mySidenav" class="sidenav">
        <a href="/story1" id="story1">Story 1</a>
        <a href="" id="story2">Story 2</a>
        <a href="/story3" id="story3">Story 3</a>
        <a href="#" id="story4">Story 4</a>
        <a href="/story5" id="story5">Story 5</a>
        <a href="/story6" id="story6">Story 6</a>
        <a href="#" id="story7">Story 7</a>
        <a href="#" id="story8">Story 8</a>
        <a href="#" id="story9">Story 9</a>
        <a href="#" id="story10">Story 10</a>

        <div class="contain">
            <div class="dandt">{{ time }}</div>
            <div class="centered">Welcome</div>
            <div class="paragraph">to see what i've been doing for ppw, <br> please click one of the navigation bar on
                the left.
            </div>

        </div>

    </div>
</div>
</body>
</html>