{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "/css/story1.css" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>PPW</title>
</head>
<body style="background-color: #f39b9b">
<div class="pg-container">
    <div class="pg-header">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1>Hai! Saya Celine Ivo</h1>
                    <p>Seorang mahasiswa dengan kemauan belajar dan tingkat keingintahuan yang tinggi, terbiasa
                        bersosialisasi sehingga bekerja dengan orang baru tidak menjadi masalah untuk saya, dan saya
                        merupakan orang yang suka dengan keteraturan.</p>
                    <a href="/">
                        <button type="button" class="btn btn-primary"
                                style="background-color: lightpink; border-color: white">
                            HOMEPAGE
                        </button>
                    </a>
                </div>
                <div class="col">
                    <img src='{% static "/images/pp.png" %}' id="pp-img">
                </div>
            </div>
        </div>
        <br><br>
        <div class="card" style="background-color: #dc6464">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0" style="text-align: center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne" style="color: papayawhip; font-size: 32px">
                        Tentang Saya
                        <img src='{% static "/images/99173.png" %}' style="width: 40px">
                    </button>
                </h2>
            </div>
        </div>
        <div class="accordion" id="accordionExample" style="background-color: #e27a7a">
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row" style="text-align: center; color: papayawhip">
                        <div class="col">
                            <h4>Riwayat Pendidikan</h4>
                            <p>
                                SD Tiara Kasih<br>
                                SMPK Ipeka Pluit<br>
                                SMAK 1 BPK Penabur Jakarta<br>
                                Universitas Indonesia<br>
                            </p>
                        </div>
                        <div class="col">
                            <h4>Informasi Universitas</h4>
                            <p>Berkuliah di Universitas Indonesia, Fakultas Ilmu Komputer, Angkatan 2019, dengan NPM
                                1906399695</p>
                        </div>
                        <div class="col">
                            <h4>Aktivitas Lain</h4>
                            <p>Mengisi waktu luang dengan melakukan hobi seperti nonton film, berolahraga, dan
                                menyanyi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-me">
        <div class="container">
            {#            <h3 style="text-align: right;">Hubungi Saya</h3>#}
            {#            <br><br>#}
            <div class="row">
                <div class="col">
                    <a href="mailto:celineivoo@gmail.com" style="color: #860505">
                        <img src='{% static "/images/gmaillogo.png" %}' class="contact-image">
                        celineivoo@gmail.com
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.instagram.com/celineivo/" style="color: #860505">
                        <img alt="Instagram" src='{% static "/images/iglogo.png" %}' class="contact-image">
                        celineivo
                    </a>
                </div>
                <div class="col">
                    <a href="tel:+6281212296801" style="color: #860505">
                        <img src='{% static "/images/telephonelogo.png" %}' class="contact-image">
                        081212296801
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>