{% extends 'base.html' %}
{% load static %}


{% block headone %}
    <title>Story 3</title>
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <div>
                    <p id="h-font">Hello! I'm Celine Ivo</p>
                    <p id="a-font">A student with a million dreams on her mind.</p>
                </div>
            </div>
            <div class="col">
                <div id="jakun-align">
                    <img src='{% static "/images/IMG_4547 1.png" %}' id="jakun-img">
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container2">
        <div id="m-font">
            <br>
            <p id="story">My Story</p>
            <img src='{% static "/images/IMG_6867 2 1.png" %}' id="peace-img">
            <p id="p-font">
                Ivo is a lively person who loves to interact with others as she has been an extrovert since a child
                although
                on occasions
                <br>she may fancy being alone at times.
                Being very active, sports seems to her forte.
                <br><br>Ivo may seem a little intimidating but rest assured she has a big heart.
                <br><br>Notably, respectable manners are deeply rooted within ivo.
                To further exemplify, tardiness isn’t one of her traits as she has
                <br>high regard towards time.
                Ivo yearns to be a great community member, helping others along the way. A kind-hearted
                <br>person and a caring soul among her circle.</p>
            </p>
        </div>
    </div>
    <div id="m-font">
        <p id="edu">Education</p>
    </div>
    <div class="head-edu-container">
        <div class="educationContainer">
            <div class="empty"></div>
            <div class="divider">
                <img src='{% static "/images/Group 111.svg" %}' id="line-img">
            </div>
            <div class="textMessage">
                <p class="tm-right">Universitas Indonesia</p>
            </div>
        </div>
        <div class="educationContainer">
            <div class="textMessageLeft">
                <p class="tm-left">SMAK 1 BPK Penabur Jakarta</p>
            </div>
            <div class="divider">
                <img src='{% static "/images/Group 111.svg" %}' id="line-img">
            </div>
            <div class="empty"></div>
        </div>
        <div class="educationContainer">
            <div class="empty"></div>
            <div class="divider">
                <img src='{% static "/images/Group 111.svg" %}' id="line-img">
            </div>
            <div class="textMessage">
                <p class="tm-right">Ipeka Pluit</p>
            </div>
        </div>
        <div class="educationContainer">
            <div class="textMessageLeft">
                <p class="tm-left">SDK Tiara Kasih</p>
            </div>
            <div class="divider">
                <img src='{% static "/images/Group 111.svg" %}' id="line-img">
            </div>
            <div class="empty"></div>
        </div>
        <div class="educationContainer">
            <div class="empty"></div>
            <div class="divider">
                <img src='{% static "/images/Group 111.svg" %}' id="line-img">
            </div>
            <div class="textMessage">
                <p class="tm-right">TK Tiara Kasih</p>
            </div>
        </div>
    </div>

    <div id="skills">
        <div id="s-font">
            <p>Skills</p>
        </div>


        <div class="flex-skills">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p id="sk-font">
                            Microsoft Excel
                        </p>
                        <br>
                    </div>
                    <div class="col">
                        <p id="sk-font">
                            Microsoft Word
                        </p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <p id="sk-font">
                            Power Point
                        </p>
                        <br>
                    </div>
                    <div class="col">
                        <p id="sk-font">
                            English
                        </p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <p id="sk-font">
                            Bahasa Indonesia
                        </p>
                    </div>
                    <div class="col">
                        <p id="sk-font">
                            Python
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br> <br> <br> <br>

    <div class="container" style="text-align: center">
        <h2 id="s-font">Black & White Gallery</h2><br>

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                style="background-color: black; border-color: #4f4f4f">
            Click Me
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Black & White Gallery</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src='{% static "/images/blackone.jpg" %}' alt="img" width="1100"
                                         height="500">
                                    <div class="carousel-caption">
                                        <h3>Jakarta</h3>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src='{% static "/images/blacktwo.jpg" %}' alt="img" width="1100"
                                         height="500">
                                    <div class="carousel-caption">
                                        <h3>Paris</h3>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src='{% static "/images/blackthree.jpg" %}' alt="img" width="1100"
                                         height="500">
                                    <div class="carousel-caption">
                                        <h3>New York</h3>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="cp" class="contact-me">
        <div id="s-font">
            <p>Contact Me</p>
            <div class="row">
                <div class="column">
                    <a href="mailto:celineivoo@gmail.com">
                        <img src='{% static "/images/gmail_icon-icons 1.png" %}' id="contact-img1">
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.facebook.com/celinee.line">
                        <img src='{% static "/images/facebook-logo-clipart-black-and-white-18 1.png" %}'
                             id="contact-img2">
                    </a>
                </div>
                <div class="column">
                    <a href="tel:+6281212296801">
                        <img src='{% static "/images/496-4961708_mobile-phones-button-telephone-call-logo-now-call 1.png" %}'
                             id="contact-img3">
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/celineivo/">
                        <img src='{% static "/images/639b3dafb544d6f061fcddd2d6686ddb 1.png" %}' id="contact-img">
                    </a>
                </div>
            </div>
            <img src='{% static "/images/IMG_5798 1.png" %}' id="hello-img">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

{% endblock %}
