{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href='{% static "/css/story3.css" %}'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Quotes</title>
</head>
<body id="story3-2">
<br><br><br>
<div>
    <a href="/story3">
        <button type="button" class="btn btn-primary" style="background-color: black; border-color: #4f4f4f">
            HOMEPAGE
        </button>
    </a>
</div>

<div id="fly-in" style="color: black; text-align: center">

    <div><span>Everyone</span>has</div>
    <div>beauty,<span>but not everyone</span></div>
    <div>sees <span> it.</span></div>
    <div><span>Appreciate</span> The</div>
    <div><span>Beauty</span>In Silence.</div>
    <div>Be Strong<span>Be Fearless</span></div>
    <div>Be <span> Beautiful</span></div>
    <div><span>Good </span> Luck</div>
</div>

</body>
</html>