{% extends 'base.html' %}

{% block body %}
    <style>
        #Matkul {
            margin: 50px;
            font-family: "Playfair Display";
        }

        #DMatkul {
            margin: 50px;
            font-family: "Playfair Display";
        }

        #jfont {
            text-align: center;
            font-family: "Playfair Display";
            margin-top: 30px;
            margin-bottom: 0;
        }

        #bton2 {
            text-align: center;
            margin-top: 0;
        }

        #lihat_jadwal {
            margin: 100px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
    <h1 id="jfont">Jadwal Mata Kuliah</h1>

    <div id="Matkul">
        <div id="bton2">
            <a href="/story5/#lihat_jadwal">
                <button class="btn btn-warning">Lihat Jadwal</button>
            </a>
        </div>
        <h3>Tambah Jadwal</h3> <br>
        <form id="form" method="POST" action="/story5/post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form_tambah.as_p }}
            </div>
            <br>
            <button type="submit" class="btn btn-warning" id="bton">Tambah</button>
        </form>
    </div>
    <div id="lihat_jadwal">
        <table>
            <tr>
                <th>Jadwal</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>
                        <a href="/story5/{{ i.nama }}">
                            <p>{{ i.nama }}</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}