{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Jadwal</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}

{% block body %}
    {% for i in data %}
        <div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Nama Mata Kuliah</th>
                    <td>{{ i.nama }}</td>
                </tr>
                <tr>
                    <th scope="row">Nama Dosen</th>
                    <td>{{ i.dosen }}</td>
                </tr>
                <tr>
                    <th scope="row">Jumlah SKS</th>
                    <td>{{ i.jumlahsks }}</td>
                </tr>
                <tr>
                    <th scope="row">Deskripsi</th>
                    <td>{{ i.deskripsi }}</td>
                </tr>
                <tr>
                    <th scope="row">Semester Tahun</th>
                    <td>{{ i.semestertahun }}</td>
                </tr>
                <tr>
                    <th scope="row">Ruangan</th>
                    <td>{{ i.ruangan }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <div>
            <a href="/story5">
                <button type="submit" class="btn btn-warning">Back</button>
            </a>
            <a href="/story5/delete/{{ i.nama }}">
                <button type="submit" class="btn btn-warning">Delete</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{#</body>#}
{#</html>#}